.slide {
 width:80%;
 margin: auto;
 overflow: hidden;
 float:center
 ;
}

.slide ul {
 display: flex;
 padding: 0;
 width:200%;
 animation: cambio 10s infinite alternate linear;
 animation-timing-function: ease-in;
 float:center;
}
.slide li {
 width:80%;
 list-style: none;
 float:center;
}
.slide img {
 width:70%;
 float:center;
}
@keyframes cambio{
 0% { margin-left: 0;}
 20% { margin-left: 0;}
 
 25% { margin-left: -100%;}
 45% { margin-left: -100%;}

 
 
}






















html{
    background-color:#e8d9c4;
    
}

main a{
  color: rgb(168, 3, 141);
}
body {
    margin : 0px; 
    padding : 0px;  
    text-align: center; 
  }

.titre {
    text-align: center;
    color: rgb(228, 17, 17);

}

.search{
    text-align: center;
    color: rgb(228, 17, 17);
    
    
}

.boutonlog{
    float: right;
}
.boutonpanier{
    float: right;
}
hgroup{
    color: red;
    font-style: oblique;
    color: #D2691E;
}

a{
    text-align: right;
    font-size: 50px;
    padding: 50px;
    color: #7E3300;
}
p{
    color:#856D4D;
    font-style: oblique;
    font-size: 25px;
}

table{
   margin-left:auto;
   margin-right:auto;
}