html{
    background-color: #e8d9c4;
    margin: 0px;
    padding: 0px;
}
main a{
  
  color: #7E3300;
  font-size: 25px;
  padding: 20px;
 

}

div#form {
	margin: 0 auto 0 auto;
	width:730px;
}
body {
    margin : 0px; 
    padding : 0px;  
    text-align: center; 
  }

.titre {
    text-align: center;
    color: #D2691E;
    border-width: 1px;
    border-style: solid;
    border-color:#e8d9c4;

}

.search{
    text-align: center;
    color: rgb(228, 17, 17);
    border-width: 1px;
    border-style:solid;
    border-color:#e8d9c4;

}

.boutonlog{
    float: right;
}
.boutonpanier{
    float: right;
}

form#head
{
	display: block;
	width: 150px;
	float: right;
}

form#formu{
    display: block;
	width: 200px;
    margin: auto;
    padding: 100px;
    color: rgb(177, 90, 32);

}
main a{
  color: #7E3300;
  font-size: 25px;
  text-align: center;
 
}