html{
    background-color: #e8d9c4;
    margin: 0px;
    padding: 0px;
}

main a{
  color: #7E3300;
  font-size: 25px;
  padding: 10px;
}
body {
    margin : 0px; 
    padding : 0px;  
    text-align: center; 
  }

.titre {
    text-align: center;
    color: #D2691E;
    border-width: 1px;
    border-style: solid;
    border-color:#e8d9c4;
}

.search{
    text-align: center;
    color: rgb(228, 17, 17);
    border-width: 1px;
    border-style:solid;
    border-color:#e8d9c4;
}

.boutonlog{
    float: right;
}
.boutonpanier{
    float: right;
}

main{
    padding: 100px;
    margin: auto;
}
p{
    width: 500px;
    margin: auto;
    padding: 20px;
    color: #856D4D;
}