html, body {
    margin: 0;
    padding: 0;
    }

body{
        background-color: white; 
        font-family: Verdana, sans-serif; 
        font-size: 100%;
    }

h1 {
        font-size: 250%; 
        color: rgb(169, 175, 175); 
        font-family: "Gill Sans", sans-serif;
    }
header{
       background-color: rgb(0, 136, 0);
       text-align: left;
       border: 0.5px solid black;
      }

nav a{
    font-size: 120%;
    color: rgb(250, 163, 2);
    position: relative;
    top: -60px; left: 130px;
    font-family: cursive;
   }

p{
    color: black;
    font-family: Georgia, serif;
    position: center;
}

 body main img{
    display:block;
    widows: 700px;
    margin-left:auto;
    margin-right:auto;