body{
    background: url('Projet/Image/fond.jpg') no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}
header {
    font-style: italic;
    color: blanchedalmond;
    text-align: center;


}

header h3{
    position:right;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
header nav {
    color: white;
}

header nav ul {
    list-style: none;
    object-position: center;
}

header nav ul li{
    margin: 0%;
    padding: 0%;
    float: left;
    width: 500px;
    height: 50px;
    background-color: rgba(8, 19, 8, 0.8);
    line-height: 40px;
    text-align: center;

}
header nav ul li a{
    display: block;
}
header nav ul li a:hover{
    background-color:rgb(8, 223, 8);
    opacity: 0.5;
}

header nav ul li ul li{
    display: none;
}

header nav ul li:hover ul li{
    display: block;
}
img{
    position: center;
}

